/* ==========================================
   main.css
   These are the final styles for the project.
   Author:   Saddam Arbaa
   Website:  TODO
			========================================== */

/********** Base styles **********/

:root {
  --red: #e41b17;
  --white: #fff;
  --dark: #212529;
  --darkAlp: rgba(2, 2, 2, 0.7);
  --dark2: #bbb;
  --darkForm: rgba(82, 78, 78, 0.8);
  --greyd: #ddd;
  --greyE: #eee;
  --grey6: #666;
  --light: #f3f3f3;
  --lightB: #dfdfdf;
  --lighE: #f5eeee;
}

body {
  padding-top: 90px;
  height: 5000px; /* will be remove */
}

/********** Start Overwriting Bootsstrap **********/

/********** Main NavBar **********/

.navbar-brand {
  font-size: 1.3rem;
}

.navbar-brand span {
  color: var(--red);
}

/* navbar-toggler */

.navbar-toggler {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

/* Active Link */

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  background-color: var(--red);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--dark2);
  padding: 1rem;
  font-size: 1.1rem;
}

/* link on hover */

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--white);
}

/* dropdown-menu linkl */

.dropdown-menu {
  background-color: var(--dark);
  border-top: 3px solid var(--red);
  min-width: 200px;
}

.dropdown-menu a {
  color: var(--white);
  padding: 7px;
  transition: padding 0.5s ease;
}

.dropdown-menu a:hover {
  background-color: var(--red);
  color: var(--white);
  padding-left: 25px;
}

/********** End Overwriting Bootsstrap **********/

/********** Start About Me Section **********/

.about h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.about h1 span {
  color: var(--red);
}

/********** End About me Section **********/

/********** Start Features Section **********/

.features {
  background-color: var(--greyE);
}

.features .feat {
  margin-bottom: 30px;
}

.features p {
  line-height: 2rem;
  text-align: center;
}

.features .bi {
  margin-bottom: 10px;
  color: var(--grey6);
}

/********** End Features Section **********/

/********** Start Testimonial Section **********/

.testimonial {
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonial h5 {
  margin-bottom: 20px;
}
.testimonial p {
  line-height: 2em;
}

.testimonial span {
  font-weight: bold;
  color: var(--red);
}

/********** End Testimonial Section **********/

/********** Start Pricing Table Section **********/

.price-table {
  background-color: var(--greyE);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 10px;
}

.price-table .price-box {
  background-color: var(--white);
  padding: 10px;
  border: 1px solid var(--greyd);
  margin-bottom: 15px;
}

.price-table p {
  font-size: 1.3rem;
  font-weight: bold;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: var(--light);
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--grey6);
  transition-duration: 0.7s;
  border: 2px solid var(--white);
}

.price-table .price-box:hover p {
  transform: rotate(360deg);
  border: 2px solid var(--lightB);
}

.price-table ul li {
  border: none; /* this one to Overwriting Bootsstrap */
}

/********** End Pricing Table Section **********/

/********** Start Our Team Section **********/

.our-team {
  width: 100%;
  min-height: 500px;
  background: url(../images/3333.jpg) no-repeat center center/cover;
}

.our-team .team {
  background: var(--darkAlp);
  color: var(--white);
  min-height: 500px;
}

.our-team .person {
  margin-bottom: 25px;
}

.our-team img {
  width: 270px;
  height: 180px;
}

.fab {
  padding-left: 5px;
}

/********** End Our Team Section **********/

/********** Start Subscribe Section **********/

.subscribe {
  background-color: var(--greyE);
  padding-top: 50px;
  padding-bottom: 70px;
}

.subscribe {
  margin-bottom: 20px;
}

.subscribe p {
  margin-bottom: 30px;
}

/********** End Subscribe Section **********/

/********** Start Statistics Section **********/

.statistics {
  width: 100%;
  min-height: 300px;
  background: url(../images/stt.webp) no-repeat center center/cover;
}

.statistics .data {
  background-color: var(--darkAlp);
  min-height: 300px;
  color: var(--lighE);
  padding-top: 40px;
  padding-bottom: 70px;
}

.statistics .stats {
  margin-bottom: 40px;
}

.statistics .stats:hover {
  color: var(--white);
  transition: 0.5s ease-in-out;
}

.statistics p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}
.statistics span {
  font-size: 1.1rem;
}

/********** End Statistics Section **********/

/********** Start Our Skills Section **********/

.our-skills {
  padding-top: 50px;
  padding-bottom: 70px;
}

.our-skills h3 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0;
}

.our-skills .progress {
  margin-bottom: 1rem;
  height: 36px;
  line-height: 36;
  font-size: 0.9rem;
  font-weight: bold;
  text-indent: 10px;
}

/**********Our Skills SectionMedia Queries **********/

/* Small Screen Rules  */

@media (max-width: 768px) {
  .our-skills h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/********** End Our Skills Section **********/

/********** Start Contact Us Section **********/

.contact-us {
  width: 100%;
  min-height: 300px;
  background: url(../images/unnamed.jpg) no-repeat center center/cover;
}

.contact-us .fields {
  min-height: 300px;
  background-color: rgba(9, 9, 9, 0.6);
  color: var(--light);
}

.contact-us p {
  margin-bottom: 40px;
  font-size: 1.5rem;
}

.contact-us textarea {
  width: 100%;
  margin-bottom: 10px;
  height: 125px;
  resize: none;
}

.contact-us input[type="text"],
.contact-us input[type="email"],
.contact-us input[type="tel"],
.contact-us textarea {
  background-color: var(--darkForm);
  color: var(--light);
  border: none;
}

/********** End Contact Us Section **********/

/********** Start Creating My Own Framework for Some Repeated Styles **********/

.padding-top-AND-padding-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
}

.margin-bottom20 {
  margin-bottom: 20;
}

.h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.margin-bottom50 {
  margin-bottom: 50px;
}

/********** End Framework **********/
