/* ==========================================
   main.css
   These are the final styles for the project.
   Author:   Saddam Arbaa
   Website:  TODO
			========================================== */

/********** Base styles **********/

:root {
  --red: #e41b17;
  --white: #fff;
  --dark: #212529;
  --darkAlp: rgba(2, 2, 2, 0.7);
  --darkAlp2: rgba(0, 0, 0, 0.1);
  --dark2: #bbb;
  --darkForm: rgba(82, 78, 78, 0.8);
  --darkcot: rgba(9, 9, 9, 0.6);
  --greyd: #ddd;
  --greyE: #eee;
  --grey6: #666;
  --grey3: #333;
  --grey4: #444;
  --grey1: #111;
  --greye2: #272727;
  --greyA: #aaa;
  --light: #f3f3f3;
  --lightB: #dfdfdf;
  --lighE: #f5eeee;
  --blueNice: #0895d1;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h3,
h4,
h5,
p {
  font-family: "Crimson Text", serif; /* Google Web Fonts */
}

body {
  padding-top: 90px;
  font-size: 20px;
}

/********** Start Overwriting Bootsstrap **********/

/********** Main NavBar **********/

.navbar-brand {
  font-size: 1.3rem;
}

/* navbar-toggler */

.navbar-toggler {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

/* Links */

.navbar-light .navbar-nav .nav-link {
    color: rgb(70 69 68);
    font-size: 16px !important;
}
.navbar-light .navbar-brand {
    color: #00BCD4;
}
/* link on hover */

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--white);
}

/* dropdown-menu linkl */

.dropdown-menu {
  background-color: var(--dark);
  border-top: 3px solid var(--red);
  min-width: 200px;
}

.dropdown-menu a {
  color: var(--white);
  padding: 7px;
  transition: padding 0.5s ease;
}

.dropdown-menu a:hover {
  color: var(--white);
  padding-left: 25px;
}

/********** End Overwriting Bootsstrap **********/

/********** Start Features Section **********/

.features {
  background-color: var(--greyE);
}

.features .feat {
  margin-bottom: 30px;
}

.features p {
    line-height: 1.5rem;
    text-align: center;
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    font-family: sans-serif;
}

.features .bi {
  margin-bottom: 10px;
  color: var(--grey6);
}

/********** End Features Section **********/

/********** Start Testimonial Section **********/

.testimonial p {
  line-height: 2em;
}

.testimonial span {
  font-weight: bold;
}

/********** End Testimonial Section **********/

/********** Start Pricing Table Section **********/

.price-table {
  background-color: var(--greyE);
  margin-bottom: 10px;
}

.price-table .price-box {
  background-color: var(--white);
  padding: 10px;
  border: 1px solid var(--greyd);
  margin-bottom: 15px;
}

.price-table p {
  font-size: 1.3rem;
  font-weight: bold;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: var(--light);
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--grey6);
  transition-duration: 0.7s;
  border: 2px solid var(--white);
}

.price-table .price-box:hover p {
  transform: rotate(360deg);
  border: 2px solid var(--lightB);
}

.price-table ul li {
  border: none; /* this one to Overwriting Bootsstrap */
}

/********** End Pricing Table Section **********/

/********** Start Our Team Section **********/

.our-team {
  width: 100%;
  min-height: 500px;
  background: url(../images/3333.jpg) no-repeat center center/cover;
}

.our-team .team {
  background: var(--darkAlp);
  color: var(--white);
  min-height: 500px;
}

.our-team img {
  width: 270px;
  height: 180px;
}

.fab {
  padding-left: 5px;
}

/********** End Our Team Section **********/

/********** Start Subscribe Section **********/

.subscribe {
  background-color: var(--greyE);
}

.subscribe p {
  margin-bottom: 30px;
}

/********** End Subscribe Section **********/

/********** Start Statistics Section **********/

.statistics {
  width: 100%;
  min-height: 300px;
  background: url(../images/stt.webp) no-repeat center center/cover;
}

.statistics .data {
  background-color: var(--darkAlp);
  min-height: 300px;
  color: var(--lighE);
}

.statistics .stats {
  margin-bottom: 40px;
}

.statistics .stats:hover {
  color: var(--white);
  transition: 0.5s ease-in-out;
}

.statistics p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.statistics span {
  font-size: 1.1rem;
}

/********** End Statistics Section **********/

/********** Start Our Skills Section **********/

.our-skills h3 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 0;
}

.our-skills .progress {
  margin-bottom: 1rem;
  height: 36px;
  line-height: 36;
  font-size: 0.9rem;
  font-weight: bold;
  text-indent: 10px;
}

/********** End Our Skills Section **********/

/********** Start Contact Us Section **********/

.contact-us {
  width: 100%;
  min-height: 300px;
  background: url(../images/unnamed.jpg) no-repeat center center/cover;
}

.contact-us .fields {
  min-height: 300px;
  background-color: var(--darkcot);
  color: var(--light);
}

.contact-us p {
  margin-bottom: 40px;
  font-size: 1.5rem;
}

.contact-us textarea {
  width: 100%;
  margin-bottom: 10px;
  height: 108px;
  resize: nones;
}

.contact-us input[type="text"],
.contact-us input[type="email"],
.contact-us input[type="tel"],
.contact-us textarea {
  background-color: var(--darkForm);
  color: var(--light);
  border: none;
}

/********** End Contact Us Section **********/

/********** Start Our Clients Section **********/

.our-clients {
  background-color: var(--greyE);
  padding-top: 20px;
  padding-bottom: 20px;
}

.our-clients ul {
  list-style: none;
}

.our-clients img {
  opacity: 0.4;
  width: 78px;
  height: 78px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.5s ease-in-out;
}

.our-clients img:hover {
  opacity: 1;
}

/********** End Our Clients Section **********/

/********** Start Footer Section **********/

.footer {
  background-color: var(--grey1);
  color: var(--greyA);
  padding-top: 30px;
  font-size: 1.1rem;
}

.footer h2 {
  color: var(--light);
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 20px 0 40px !important;
}

.footer .three-columns {
  overflow: hidden;
}

.footer .three-columns li {
  width: 33.333%;
  float: left;
  padding-bottom: 24px;
}

.footer .social-media {
  overflow: hidden;
  margin: 20px 0px 10px;
}

.footer .social-media li {
  float: left;
  margin-right: 5px;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}

.footer .social-media li:hover {
  opacity: 1;
}

.footer .social-media img {
  width: 50px;
  height: 50px;
}

.footer .article img {
  height: 100px;
  width: 150px;
  margin-right: 5px;
}

.footer .work img {
  width: 160px;
  height: 140px;
  margin-right: 15px;
  margin-bottom: 10px;
  border: 1px solid var(--grey4);
  background-color: var(--darkAlp2);
}

.footer a {
  color: var(--greyA);
}

.footer a :hover {
  color: var(--white);
}

.footer .copyright {
  background-color: var(--grey3);
  padding: 20px 0;
  margin-top: 30px;
  font-size: 1.3rem;
}

/********** End Footer Section **********/

/********** Start Scroll To Up Section **********/

.scroll-top {
  position: relative;
}

#scroll-top {
  right: 0 !important;
  bottom: 5px;
  width: 50px;
  height: 50px;
  background-color: var(--greye2);
  color: var(--greyd);
  z-index: 99999;
  position: absolute;
  cursor: pointer;
}

#scroll-top:hover {
  background-color: var(--grey4);
}

/********** End Scroll To Up Section **********/

/********** Start Tool Box Section(TODO) **********/

.option-box {
  position: fixed;
  top: 100px;
  left: 0;
  overflow: hidden;
  z-index: 9999;
}

.option-box .color-option {
  float: left;
  background-color: var(--grey3);
  color: var(--white);
  width: 200px;
  border: 4px solid #e426d5;
  display: none; /* TODO with Javascript in Fututre */
}

.option-box .color-option ul li {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 3px;
  padding: 3px;
}

/* TODO */
/* display block when time come */

.gear-check {
  display: none;
}

.option-box .second {
  background-color: #e426d5;
}

.option-box .third {
  background-color: #009aff;
}

.option-box .fourth {
  background-color: #ffd500;
}

.option-box .gear-check {
  padding: 5px;
  background-color: #e426d5;
  color: var(--white);
  cursor: pointer;
}

/********** End Tool Box Section **********/

/********** Start Creating My Own Framework for Some Repeated Styles **********/

.padding-top-AND-padding-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
}

.margin-bottom20 {
  margin-bottom: 20;
}

.h1 {
  margin-bottom: 40px;
}

.margin-bottom15 {
  margin-bottom: 15px;
}

.displayShow {
  display: block !important;
}

/********** End Framework **********/

/********** Start Grouping Element With The Same Style **********/

.dropdown-menu a:hover,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.option-box .first {
  background-color: var(--red);
}

.navbar-brand span,
.about h1 span,
.testimonial span,
.footer .copyright span {
  color: #FF9800;
}

.about h1, .testimonial h5, .subscribe, .our-team .person {
    margin-bottom: 20px;
    font-size: 32px;
    color: #ff9800;
}

.testimonial,
.price-table {
  padding-top: 50px;
  padding-bottom: 50px;
}

.subscribe,
.our-skills,
.statistics .data {
  padding-top: 50px;
  padding-bottom: 70px;
}

/********** End Grouping **********/
